/*
    DEMO STYLE
*/

@font-face {
    font-family: "THSarabun";
    src: url("../lib/fonts/THSarabun.ttf");
}

@font-face {
    font-family: "THSarabun";
    src: url("../lib/fonts/THSarabunBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "THSarabun";
    src: url("../lib/fonts/THSarabunItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "THSarabun";
    src: url("../lib/fonts/THSarabunBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    font-family: 'THSarabun', 'Poppins', sans-serif;
    font-size: 1.15em;
    line-height: 1.0em;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: 'THSarabun', 'Poppins', sans-serif;
    font-size: 1.15em;
    background: #fafafa;
}

p {
    font-family: 'THSarabun', 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.0em;
    color: rgb(82, 80, 80);
}

h1 {
    font-size: 2.0em;
    font-weight: 400;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
}

h3 {
    font-size: 1.6em;
    font-weight: 400;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
}

h5 {
    font-size: 1.2em;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 0.2rem;
    border-bottom: 1px dashed #ddd;
    margin: 5px 0;
}

.btn {
    font-family: 'THSarabun', 'Poppins', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #17a2b8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #17a2b8;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #198fa1;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #198fa1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1.0em !important;
    padding-left: 30px !important;
    background: #198fa1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 1.0em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding-left: 15px;*/
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.form-group {
    font-size: 1.0em;
    line-height: 1.0em;
}

.form-control {
    font-size: 1.0em;
    line-height: 1.0em;
}

.dashboard {
    background-image: url("../img/wmap.png");
    background-color: #4b4b4b;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dash-block-title {
    text-align: center;
    padding: 10px;
    height: 160px;
    position: relative;
    background-color: rgba(4, 15, 1, 0.75);
    border-style: solid;
    border-color: white;
}

.dash-block {
    text-align: center;
    padding: 10px;
    height: 140px;
    position: relative;
    background-color: rgba(4, 15, 1, 0.75);
    border-style: solid;
    border-color: white;
    /*display: flex;
    flex-flow: row;*/
}